/* Little helpers they don't compile if they're not used */
%flex-row {
  display: flex;
  flex-direction: row;
}
%max-1240 {
  max-width: 1240px;
  margin: 0 auto;
}
%max-968 {
  max-width: 968px;
  margin: 0 auto;
}
