h1 {
  font: 120px/132px $primary-font;
  letter-spacing: -0.03em;
  text-align: center;
  @include for-mobile-only {
    font: 44px/48px $primary-font;
  }
}
p {
  font: 24px/36px $secondary-font;
  @include for-mobile-only {
    font: 14px/24px $secondary-font;
  }
}
a {
  font: 21px/48px $primary-font;
  color: $white;
  &.secondary-f {
    color: $black;
    font: 16px/48px $secondary-font;
  }
}
small {
  color: $black;
  @include for-mobile-only {
    font: 12px/16px $tertiary-font;
  }
}
